* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

body {
  min-height: 100vh;
  font-family: League Spartan;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.main-container__top {
  display: flex;
}

.main-article-container {
  border: 1px solid black;
  width: 50%;
}

.main-rating-container {
}

.rating-container {
  display: flex;
}
